var filter = {
    //保留两位小数
    numberToFixed: function(value) {
        return value.toFixed(2)
    },
    //换算单位
    numberVonversion: function(value) {
        var a = (value / 1000).toFixed(2)
        if (a >= 100000) {
            var b = (value / 100000000).toFixed(2)
            return b + '亿'
        } else if (a >= 10) {
            var b = (value / 10000).toFixed(2)
            return b + '万'
        } else if (a >= 1 && a < 10) {
            return a + '千'
        } else {
            return value
        }
    },
    // //时间格式 转为时间戳
    // forTimeStamp: function(times) {
    //     // var times = '2019-05-20 00:00:00';
    //     var repTime = times.replace(/-/g, '/'); //用正则主要是把“2019-05-20 00:00:00”转换成“2019/05/0 00:00:00”兼容ios
    //     // console.log("返回时间：" + repTime);
    //     var timeTamp = Date.parse(repTime);
    //     // console.log("返回时间戳：" + timeTamp)
    //     return timeTamp
    // }

    // formatNumber: function(n) {
    //     n = n.toString()
    //     return n[1] ? n : '0' + n
    // },

    /** 
     * 时间戳转化为年 月 日 时 分 秒 
     * number: 传入时间戳 
     * format：返回格式，支持自定义，但参数必须与formateArr里保持一致 
     * 时间戳转日期
     */
    formatTime: function(number, format) {
        var formateArr = ['Y', 'M', 'D', 'h', 'm', 's'];
        var returnArr = [];
        var date = getDate(number);

        function formatNumber(n) {
            n = n.toString()
            return n[1] ? n : '0' + n
        }
        returnArr.push(date.getFullYear());
        returnArr.push(formatNumber(date.getMonth() + 1));
        returnArr.push(formatNumber(date.getDate()));

        returnArr.push(formatNumber(date.getHours()));
        returnArr.push(formatNumber(date.getMinutes()));
        returnArr.push(formatNumber(date.getSeconds()));

        for (var i = 0; i < returnArr.length; i++) {
            format = format.replace(formateArr[i], returnArr[i]);
        }
        return format;
    },
}
module.exports = {
    numberToFixed: filter.numberToFixed,
    numberVonversion: filter.numberVonversion,
    formatTime: filter.formatTime
}