var filter = {
    //保留两位小数
    numberToFixed: function(value) {
        return value.toFixed(2)
    },
    //换算单位
    numberVonversion: function(value) {
        var a = (value / 1000).toFixed(2)
        if (a >= 100000) {
            var b = (value / 100000000).toFixed(2)
            return b + '亿'
        } else if (a >= 10) {
            var b = (value / 10000).toFixed(2)
            return b + '万'
        } else if (a >= 1 && a < 10) {
            return a + '千'
        } else {
            return value
        }
    },
    // //时间格式 转为时间戳
    // forTimeStamp: function(times) {
    //     // var times = '2019-05-20 00:00:00';
    //     var repTime = times.replace(/-/g, '/'); //用正则主要是把“2019-05-20 00:00:00”转换成“2019/05/0 00:00:00”兼容ios
    //     // console.log("返回时间：" + repTime);
    //     var timeTamp = Date.parse(repTime);
    //     // console.log("返回时间戳：" + timeTamp)
    //     return timeTamp
    // }
}
module.exports = {
    numberToFixed: filter.numberToFixed,
    numberVonversion: filter.numberVonversion,
    // forTimeStamp: filter.forTimeStamp
}